*{
padding:0;
margin:0;
box-sizing:border-box;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: black !important;
    font-size: 20px;
    padding-right: 25px;
    
}
.button{
   background-color: purple;
   border: none;
   padding: 10px 30px;
   margin-right: 20px;
   border-radius: 20px;
}
.hero-section{
    
    height: 100vh;
    background: url(https://static.wixstatic.com/media/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png/v1/fill/w_980,h_960,al_br,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png) ;
    background-size: cover;   /* MOST IMPORTANT */
    background-repeat: no-repeat;
    background-position: center;
    
     
    
}
.heading1{
    font-size: 80px;
}