@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
padding:0;
margin:0;
box-sizing:border-box;
font-family: "Poppins", sans-serif;
}
.my-logo a img{
width: 70px;
height: 70px;
border-radius: 50%;
}
.my-ul{
    display: flex;
}
.my-color{
    background-color: rgba(209,220,206);
}
.about-section {
  min-height: 100vh; /* full screen height */
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* WIX jaisa crop */
}
.hero-img{
  object-fit: cover;
}
.mybutton{
    color: black !important;
}
.back{
    background-color: rgb(230, 228, 228) !important;
}
.footer-hr{
    width: 200px;
}
.my-input{
    border-bottom: 2px soolid grey;
}